/* Yuqing Guo - The Pledge of Allegiance CSS */
/*body{
  width: 100%;
}*/
.bar-stable{
  background-color: #0052A5 !important;
}
ion-header-bar h1{
  color: #fff !important;
}
/*ion-content{
  background-color: #E0162B;
}*/
#content{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 5%;
  /*font-weight: bold;*/
  border: 10px double #E0162B;
  border-radius: 5px;
}
#content{
  margin-top: 5%;
}
.title{
  font-family: 'Rochester', cursive;
  font-size: 25pt;
  font-weight: bold;
}
p{
  font-family: 'Lateef';
  font-size: 20pt;
  line-height: 130%;
}
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait */
/*@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .title{
    font-size: 18pt;
  }
  p{
    font-size: 18pt;
  }
}*/
/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .title{
      font-size: 35pt;
      /*color: red !important;*/
    }
    p{
      font-size: 30pt;
    }
}
/* ----------- iPhone 4 and 4S ----------- */
/* Protrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait){
  .title{
    font-size: 18pt;
    /*background: purple;*/
  }
  p{
    font-size: 18pt;
  }
}
/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .title{
    font-size: 30pt;
    /*color: red !important;*/
  }
  p{
    font-size: 20pt;
  }
}
